:root {
  --primary-color: #e8f0f2;
  --text-color: #0d171c;
  --secondary-color: #0d171c;
  --accent-color: #f7fafc;
  --highlight-color: #4f7d96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centerize {
  align-items: center;
  justify-content: center;
}
