:root {
  --primary-color: #e8f0f2;
  --text-color: #0d171c;
  --secondary-color: #0d171c;
  --accent-color: #f7fafc;
  --highlight-color: #4f7d96;
  --tertiary-color: #1a9ce5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}
